
/*
    grid: 
        10% top panel height.
        90% content:
            30 - 70 % board width, 20 - 80 board height
    
*/
/*
.top-panel{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(159, 167, 170);
    background-color: rgb(230, 230, 230);
}

.top-panel p{
    color: brown;
    position: relative;
    text-align: center;


}
*/
body{
    font-family: 'Roboto';font-size: 22px;
}

html { 
    background: url(pig-wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    margin-bottom: 1px; 
}

.game-board{
    position: relative;
    left: 25%;
    width: 50%;
    top: 20%;
    height: 400px; 
    box-shadow: 0px 0px 10px 0px rgba(124, 124, 124, 0.75);

}
.game-panel{
    position: absolute;
    background-color: rgb(255, 222, 212);
    width: 50%;
    top: 0;
    height: 100%;
}
#game-panel-1{
    left: 0;
}
#game-panel-2{
    left: 50%;
}
.bottom-panel{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
}
#leading{
    position: relative;
    text-align: center;
    top: 5%;
}
#leading-player{
    position: relative;
    text-align: center;
    top: 12%;
}
.btn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -35px;
    transition: 0.5s;
}
#roll:hover span{
    padding-right: 20px;
}
#restart:hover span{
    padding-right: 20px;
}
#hold:hover span{
    padding-right: 10px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.btn{
    color: rgb(255, 72, 0);
    text-shadow: 0px 0px 5px rgba(255, 213, 165, 0.75);
    z-index: 20;
    background-color: transparent;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btn:active {
    outline: none;
    border: none;
}
button:focus {outline:0;}
#hold{
    position: relative;
    display: block;
    margin: 0 auto;
    top: 75%;
}
#roll{
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 1.4em;
    top: 42%;
}
#restart{
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 1.4em;
    top: 30%;
}
.player{
    color: rgb(235, 92, 92);
    position: relative;
    top: 15%;
    text-align: center;
}
.score-tot{
    font-size: 3.5em;
    color: brown;
    position: relative;
    top: 20%;
    text-align: center;
}
.curr-container{
    position: absolute;

    float: left;
    left: 0;
    top: 70%;
    height: 50px;
    width: 100%;
    text-align: center;
    z-index: 10;
}
.curr{
    position: relative;
    display: inline-block;
    font-size: 0.5em;
    color: rgb(184, 72, 72);
    top: 0;

}
.curr-num{
    color: rgb(184, 72, 72);
}
#dice-container{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 30;
    top: 50%;
}
#dice{
    display: inline-block;

}
.scores{
    z-index: 30;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.scores #tot-scores{
    opacity: 0.6;
    color: brown;
    font-size: 0.8em;
    display: inline-block;
}
.crown{
    z-index: 30;
    position: absolute;
    top: 7%;
    left: 0;
    width: 100%;
    text-align: center;
}
.crown .crown-img{
    color: brown;
    font-size: 0.8em;
    display: none;
}
